<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webandcrafts.medisend">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.webandcrafts.medisend.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name="com.webandcrafts.medisend.SplashActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.webandcrafts.medisend.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.webandcrafts.medisend.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.webandcrafts.medisend.AddressDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.webandcrafts.medisend.AboutusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.webandcrafts.medisend.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.webandcrafts.medisend.ActivateAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.webandcrafts.medisend.HomeActivity"
            android:icon="@mipmap/ic_launcher"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.webandcrafts.medisend.MyPrescriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.webandcrafts.medisend.MyOrdersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.webandcrafts.medisend.MyCartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.webandcrafts.medisend.MedicineInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.webandcrafts.medisend.ForgotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.webandcrafts.medisend.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.webandcrafts.medisend.TakePhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.webandcrafts.medisend.UploadActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.webandcrafts.medisend.CameraActivity" />
        <activity
            android:name="com.webandcrafts.medisend.AlternativesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.webandcrafts.medisend.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.webandcrafts.medisend.SecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.webandcrafts.medisend.PrescriptionDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.webandcrafts.medisend.WebViewPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.webandcrafts.medisend.OrderDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.webandcrafts.medisend.PaymentResponseActivity"
            android:screenOrientation="portrait">



        </activity>
    </application>

</manifest>