<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webandcrafts.healwire">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddressDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivateAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:icon="@mipmap/ic_launcher"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyPrescriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyOrdersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyCartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MedicineInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TakePhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UploadActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".CameraActivity" />
        <activity
            android:name=".AlternativesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrescriptionDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebViewPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".PaymentResponseActivity"
            android:screenOrientation="portrait">



        </activity>
    </application>

</manifest>